@page
@model IndexModel
@{
    ViewData["Title"] = "Bem-Vindo ao Hello World .Net da ToolBox Playground!";
}

<div class="text-center">
    <h1 class="display-4">Bem-Vindo ao Hello World .Net da ToolBox Playground!</h1>
</div>
